{% extends "api.html" %}

{% block content %}
                       <p>Получение информации о пользователе:</p>
                    <div class="toctree-wrapper compound">
                        Для получения информации о пользователе, необходимо сделать запрос на <a class="reference internal" href="/about_me">https://stripess.ml/about_me</a>,
                        обязательно указав в query string parametres логин и пароль пользователя в формате ?login={login}&password={password}
                    </div>
{% endblock %}
