<html>
<head>
    <link rel="stylesheet" href="https://docs.readthedocs.io/en/latest/_static/css/theme.css" type="text/css">
    <style></style>
</head>
<body>
<div class="wy-nav-content">

    <div class="rst-content">
        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div itemprop="articleBody">

                <div class="section" id="welcome-to-read-the-docs-template-s-documentation">
                    <h1>Документация v 1.0</h1>
                    {% block content %}
                    {% endblock %}
                </div>


            </div>

        </div>
        <footer>


            <hr>

            <div role="contentinfo">
                <p>

                    © Copyright 2014, Аглиев лох
                    <span class="commit">
      </span>

                </p>
            </div>

            Украдено с <a href="https://readthedocs.org">Read the Docs</a>.

        </footer>

    </div>
</div>
</body>
</html>
