<html>
<head>
    <link rel="stylesheet" href="https://docs.readthedocs.io/en/latest/_static/css/theme.css" type="text/css">
    <style></style>
</head>
<body>
<div class="wy-nav-content">

    <div class="rst-content">
        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div itemprop="articleBody">

                <div class="section" id="welcome-to-read-the-docs-template-s-documentation">
                    <h1>Документация v 1.0</h1>
                    <p>Список методов:</p>
                    <div class="toctree-wrapper compound">
                        <ul>
                            <li class="toctree-l1"><a class="reference internal" href="/documentation/about_me">Получение
                                информации о пользователе</a></li>
                            <li class="toctree-l1"><a class="reference internal"
                                                      href="/documentation/day_info">Получение оценок за день</a></li>
                            <li class="toctree-l1"><a class="reference internal" href="/documentation/all_marks">Просмотр
                                табеля успеваемости</a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
        <footer>


            <hr>

            <div role="contentinfo">
                <p>

                    © Copyright 2014, Аглиев лох
                    <span class="commit">
      </span>

                </p>
            </div>

            Украдено с <a href="https://readthedocs.org">Read the Docs</a>.

        </footer>

    </div>
</div>
</body>
</html>
